.logout-button {
    padding: 10px 20px;
    background-color: #dc3545; /* Màu nền đỏ */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #c82333; /* Màu nền khi hover */
  }