
/* 
footer container */
footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 2px solid #ced4da; /* Thêm viền trên */
}

footer p {
  margin: 0;
  font-size: 1rem;
}